/gradlew
/gradlew.bat
/settings.gradle
/.gradle/
/.idea/
/gradle/
/eureka-server/gradle/
/eureka-server/gradlew
/eureka-server/gradlew.bat
/eureka-server/settings.gradle
/eureka-client/gradle/
/eureka-client/gradlew
/eureka-client/gradlew.bat
/api-gateway/gradle/
/api-gateway/gradlew
/api-gateway/gradlew.bat
/eureka-client-2/gradlew
/eureka-client-2/gradlew.bat
/github-config-server/gradlew
/github-config-server/gradlew.bat
